# settings
.vscode

# python
.coverage
.eggs
*.egg-info
*.pyc
.ipynb_checkpoints
.pytest_cache
build
dist

# rust
target
*.so

docs/source/api/*

# data
*.gpkg
*.shp
*.prj
*.dbf
*.shx
*.cpg
__init__.py
