language: python
python:
  - "3.5"
  - "3.6"
  # - "3.7" not available on travis as OpenSSL 1.0.2+ is not available on Ubuntu Trusty

before_install:
  - sudo apt-get install -y libspatialindex-dev libgeos-dev gdal-bin

install:
  - pip install -r dev-requirements.txt
  - python setup.py install
  - pip freeze

script:
  - python -m pytest tests

deploy:
  provider: pypi
  user: tomalrussell
  password:
    secure: QxLVt76CiBH/BbHNG9AEe8TEREMh8ltKzPZT4FHVXtDoXIyCp8PyX+BvtGrgX8nlZH2TqI2jflbKDhDKvmL5fLJJCm0cvMtagFEmIEPFPLwsyuSSP0AeM4GqD3hPVoMoWQ9p3cc2HrTvIkNxEHwh5ecaPWUAnh3ffGPZvSkN5dIYnEm0spIUr1pHfEI3C53K9uOERdaNVpzOkDq1acACNbOz4BlapPtdA9coL9F/Sg106agVxdJeJ0s3ZteGsvo1j3wDCPNPvVgS3aGOVdC1pDkZeIzG1KgaRPsIsQMk5MkdAVubbJhVzYfN+xPc/YqZZVhhBCLNT2QUeBvozOhrP1bpUZTxk4y/UfPW9uDiwBxo9OXHaRtqqWqlz57eG+ZhG92BIxlNHEMxbzh8llL6DRdY7EmB3V1arRC146M+ubSv77kTeg6xVBs0KeWCLRKiUPbnWLwJyVjAt060rKTTbh5ljBWC2FTbhsRq72bqUmy4HXjjqJZoerAJs9oqiQ6YzncFeDkZJSPXrcBmahf5HmCw43+p4YfjLbXP10evZuPW47hZyXKuWjRfje/zY2haehKxmbd/qed6gjhejHpWF7UrSNuLDBHVtq57cMacwdX7fgPAr3vpmh+6PIK6uzPhoxZgd08Zyx9icPCZxvoI+TyHPBLTRH7Rzb3y5p5NCHc=
  on:
    tags: true
  skip_existing: true
